h1{
    padding: 1%;
    background-color: aqua;
    padding-left: 15%;
}

h2{
    padding: 1%;
    background-color: aqua;
    padding-left: 18%;
}

p#Objective
{
    font-size: large;
    padding: 2%;
    background-color: aquamarine;
    padding-left: 25%;
}

.skills {
    font-size: large;
    padding: 2%;
    background-color: aquamarine;
    padding-left: 25%;
}

body {
    /* padding-bottom: 50%; */
    
    /* height: -100%; */
    
    background-image: url("linkedin.jpg");
    
    
  height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



